<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91194681066-3jhk1mldv66u3jqf17jj1p7ag6pn54l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91194681066-3jhk1mldv66u3jqf17jj1p7ag6pn54l0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>91194681066-4isr7ehpa7vl3o3q0bo45ub3drldrsdd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9QPBso_0AjZikP2UFwF16SFzg9prT7pw</string>
	<key>GCM_SENDER_ID</key>
	<string>91194681066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grorapid.rehustle</string>
	<key>PROJECT_ID</key>
	<string>rehustle-grorapid</string>
	<key>STORAGE_BUCKET</key>
	<string>rehustle-grorapid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91194681066:ios:5a96eeea92055f1848d993</string>
</dict>
</plist>